// Settings file for Tangerine Framework variables

//
// Tangerine Framework Variables
//

$top-area-bg: #111;
$main-menu-bg: #111;
$footer-area-bg: rgba(black,.1);
$footer-area-color: #999;
$footer-menu-bg: #333;
$footer-menu-color: #f6f6f6;
$credits-bg: #111;

$widgettitle-color: #999;

$orbit-bullets-bg: #dfdfdf;
$orbit-bullets-active-bg: #84E984;
