// Settings file for Tangerine Framework variables

//
// Tangerine Framework Variables
//

$page-width: 1000px;

// Top bar
$top-area-bg: #f57900;
$topbar-bg: #f57900;
$top-menu-active-bg: #f57900;

// Main menu
$main-menu-bg: #7f3f58;
$main-menu-active-bg: #7f3f58;

// Footer area
$footer-area-bg: rgba(black,.1);
$footer-area-color: #999;
$footer-menu-bg: #F57900;
$footer-menu-color: #f6f6f6;
$credits-bg: #252525;

// Home slider
$orbit-bullets-bg: #dfdfdf;
$orbit-bullets-active-bg: #ccc;

// Widgets
$widgettitle-color: #999;
