// Global Foundation Settings
@import "settings";
@import "tangerine-settings";

// Comment out this import if you are customizing you imports below
@import "foundation";
@import "compass/css3";
@import "compass/utilities";
@import "recipes/shape";

// Import specific parts of Foundation by commenting the import "foundation"
// and uncommenting what you want below. You must uncomment the following if customizing

// @import "foundation/foundation-global"; // *always required
// @import "foundation/components/global"; // *always required
// @import "foundation/components/grid";
// @import "foundation/components/visibility";
// @import "foundation/components/block-grid";
// @import "foundation/components/type";
// @import "foundation/components/buttons";
// @import "foundation/components/forms"; // *requires components/buttons
// @import "foundation/components/custom-forms"; // *requires components/buttons, components/forms
// @import "foundation/components/button-groups"; // *requires components/buttons
// @import "foundation/components/dropdown-buttons"; // *requires components/buttons
// @import "foundation/components/split-buttons"; // *requires components/buttons
// @import "foundation/components/flex-video";
// @import "foundation/components/section";
// @import "foundation/components/top-bar";  // *requires components/grid
// @import "foundation/components/orbit";
// @import "foundation/components/reveal";
// @import "foundation/components/joyride";
// @import "foundation/components/clearing";
// @import "foundation/components/alert-boxes";
// @import "foundation/components/breadcrumbs";
// @import "foundation/components/keystrokes";
// @import "foundation/components/labels";
// @import "foundation/components/inline-lists";
// @import "foundation/components/pagination";
// @import "foundation/components/panels";
// @import "foundation/components/pricing-tables";
// @import "foundation/components/progress-bars";
// @import "foundation/components/side-nav";
// @import "foundation/components/sub-nav";
// @import "foundation/components/switch";
// @import "foundation/components/magellan";
// @import "foundation/components/tables";
// @import "foundation/components/thumbs";
// @import "foundation/components/tooltips";
// @import "foundation/components/dropdown";

// FOUNDATION FIXES

.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after, .main-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
	margin-top: -15px;
}

.top-bar-section .dropdown li a, .main-bar-section .dropdown li a {
	line-height: 30px;
}

#orbit-slider .slide-thumbnail {
	width: 100%;
}

// BASE

.header-bar, #main-slider, #main, #footer-area, #footer-widgets, .footer-bar, .credits-bar {
	@include grid-row();
}

.header-bar, #main {
	padding-top: 20px;
	padding-bottom: 20px;
}

#main, #footer-area {
	margin-top: 20px;
}

#header {

	.name, .logo {
		float: left;
	}

	.logo, .name {
		margin: 0 0 0 $column-gutter/2;
	}

	.name small {
		margin-left: 10px;
	}

	+ #main-slider {
		padding-top: 0;
	}
}

p[style*="justify"] {
	@include hyphenation;
}

// LAYOUT

#wrapper {
	overflow: hidden;

	&.normal-width {
		max-width: $page-width;
	}

	&.hybrid-width {

		#main-area, .header-bar {
			max-width: $page-width;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}

	&.narrow-content {

		.top-bar, .header-bar, #main-area, #footer-widgets, .footer-bar, .credits-bar {
			max-width: $page-width;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}

	&.narrow-footer {

		.top-bar, .header-bar, #main-area, #footer-area {
			max-width: $page-width;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}

	&.contained-header {

		.home-slider, .header-bar {
			max-width: $page-width;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}

		.header-container {
			background: #252525;
		}

	}
}

// TOP BAR

#top-area {
	background: $top-area-bg;

	.top-bar-section {

		ul {
			background: none;
		}

		li {

			&.active {

				a:not(.button) {
					background: darken($top-area-bg, 14%);
				}
			}

			.dropdown {

				a:not(.button) {
					background: darken($top-area-bg, 6%);
				}
			}

			a:not(.button) {
				background: $top-area-bg;

				&:hover {
					background: darken($top-area-bg, 10%);
				}
			}
		}
	}

	.expanded {

		.toggle-topbar {

			a {
				color: darken($top-area-bg, 7%);

				&:hover {
					background: none;
				}
			}

			span {
				box-shadow: 0 10px 0 1px darken($top-area-bg, 7%), 0 16px 0 1px darken($top-area-bg, 7%), 0 22px 0 1px darken($top-area-bg, 7%);
			}
		}
	}
}

// MAIN MENU
.main-bar {
	@extend .top-bar;
	background: $main-menu-bg;
}

.main-bar-section {
	@extend .top-bar-section;

	ul {
		background: none;
	}
}

#main-menu {
	background: $main-menu-bg;

	+ #main-slider {
		padding-top: 20px;
	}

	.main-bar-section {

		li {

			&.active {

				a:not(.button) {
					background: darken($main-menu-bg, 14%);
				}
			}

			.dropdown {

				a:not(.button) {
					background: darken($main-menu-bg, 6%);
				}
			}

			a:not(.button) {
				background: $main-menu-bg;

				&:hover {
					background: darken($main-menu-bg, 10%);
				}
			}
		}
	}
}

// WIDGETS

.widgets {
	list-style-type: none;

	.widget {
		margin-bottom: 20px;

		ul {
			list-style-type: square;
		}

	}

	.widgettitle {

	}
}

// FOOTER

#footer-area {
	background: $footer-area-bg;
	color: $footer-area-color;

	.widget {
		margin: $column-gutter/2 0;
	}

	.widgettitle {
		color: $widgettitle-color;
	}
}

#footer-menu {
	background: $footer-menu-bg;
}

.footer-bar-section {

	ul {
		list-style-type: none;
		margin: 0;

		li {
			float: left;

			&.active {
				font-weight: bold;
			}

			a {
				padding: 7px 15px;
				font-size: emCalc(14px);
				display: inline-block;
				color: $footer-menu-color;
			}
		}
	}
}

// CREDITS

#credits {
	background: $credits-bg;
	font-size: emCalc(12px);
	line-height: emCalc(50px);
}

#copyright, #powered-by {
	@include grid-column(6);
}

#powered-by {
	text-align: right;
}

// ORBIT SLIDER

#orbit-slider {

	&.no-buttons {

		.orbit-prev, .orbit-next {
			display: none;
		}
	}

	&.no-timer {

		.orbit-timer {
			display: none;
		}
	}

	&.no-numbers {

		.orbit-slide-number {
			display: none;
		}
	}

	.orbit-bullets {

		li {
			background: $orbit-bullets-bg;
			border: none;
			@include border-radius(50%);
			height: 14px;
			width: 14px;

			&.active {
				background: $orbit-bullets-active-bg;
			}
		}
	}

	.orbit-caption {
		font-size: 1em;

		h4 {
			margin: 0;
		}

		p {
			margin: 5px 0 0;
		}
	}
}

// GALLERY

.gallery {

	ul li {
		position: relative;

		a:hover + .caption, .caption:hover {
			display: block;
		}
	}

	.attachment-thumbnail {
		width: 100%;
		display: list-item;
	}

	.caption {
		position: absolute;
		display: none;
		background: rgba(black, .5);
		color: #fff;
		bottom: 20px;
		left: 14px;
		line-height: 24px;
		padding: 0 10px;
		position: absolute;
		right: 14px;
	}
}

// LOOP

.excerpt {

	.featured.th {
		margin-right: 20px;
		float: left;
	}
}
