// Global Foundation Settings
@import "settings";
@import "tangerine-settings";

// Comment out this import if you are customizing you imports below
@import "foundation";

// Compass Modules
@import "compass/css3";
@import "compass/utilities";

// FOUNDATION FIXES

.top-bar-section .has-dropdown .dropdown li.has-dropdown > a:after, .main-bar-section .has-dropdown .dropdown li.has-dropdown > a:after {
	margin-top: -15px;
}

.top-bar-section .dropdown li a, .main-bar-section .dropdown li a {
	line-height: 30px;
}

.top-bar-section > ul > .divider, .main-bar-section > ul > .divider {
	border-right-color: rgba(white, .15);
	border-left-color: rgba(black, .15);
}

.top-bar-section .divider, .main-bar-section .divider {
	border-bottom-color: rgba(white, .15);
	border-top-color: rgba(black, .15);
}

.top-bar.expanded .title-area, .expanded.main-bar .title-area {
	background: rgba(black, .2);
}

#orbit-slider .slide-thumbnail {
	width: 100%;
}

// GENERAL

.header-bar, #main-slider, #main, #footer-area, #footer-widgets, .footer-bar, .credits-bar {
	@include grid-row();
}

.header-bar, #main {
	padding-top: 20px;
	padding-bottom: 20px;
}

#main-slider {
	padding-top: 20px;
}

#header {

	.name, .logo {
		float: left;
		margin: 0 0 0 $column-gutter/2;
	}

	.name small {
		margin-left: 10px;
	}

	+ #main-slider {
		padding-top: 0;
	}
}

p[style*="justify"] {
	@include hyphenation;
}

// LAYOUT

#wrapper {
	overflow: hidden;

	&.normal-width {
		max-width: $page-width;
	}

	&.hybrid-width {

		#main-area, .header-bar {
			max-width: $page-width;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}

	&.narrow-content {

		.top-bar, .header-bar, #main-area, #footer-widgets, .footer-bar, .credits-bar {
			max-width: $page-width;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}

	&.narrow-footer {

		.top-bar, .header-bar, #main-area, #footer-area {
			max-width: $page-width;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}
	}

	&.contained-header {

		.home-slider, .header-bar {
			max-width: $page-width;
			margin-left: auto;
			margin-right: auto;
			float: none;
		}

		.header-container {
			background: $header-container-bg;
		}

	}
}

// TOP BAR
#top-area {
	background: $top-area-bg;

	&.no-top-menu {
		display: block;

		@media only screen and (min-width: $topbar-breakpoint) {
			display: none;
		}		
	}

	.main-bar-section {
		display: block;

		li.has-dropdown ul.dropdown {
			background: none !important;
		}

		@media only screen and (min-width: $topbar-breakpoint) {
			display: none;
		}
	}
}

.top-bar {

	.name h4 {
		font-size: 1.0625em;
	    line-height: 45px;
	    margin: 0;

		a, a:hover, a:focus {
			color: #FFFFFF;
			display: block;
			font-weight: bold;
			padding: 0 15px;
			width: 50%;
			white-space: nowrap;
		}
	}
}

.top-bar-section {

	ul {
		background: none;
	}

	li {

		&.has-dropdown ul.dropdown {
			background: $top-area-bg;

			@media only screen and (max-width: $topbar-breakpoint) {
				background: none !important;
			}
		}

		&.active {

			a:not(.button) {
				background: $medium-tint;

				&:hover {
					background: $light-tint;
				}
			}

			> ul li a:not(.button) {
				background: none;

				&:hover {
					background: $light-tint;
				}
			}
		}

		a:not(.button) {
			background: none;

			&:hover {
				background: $light-tint;
			}
		}
	}

	&.expanded {

		.toggle-topbar {

			a {
				color: $dark-tint;

				&:hover {
					background: none;
				}
			}

			span {
				box-shadow: 0 10px 0 1px $dark-tint, 0 16px 0 1px $dark-tint, 0 22px 0 1px $dark-tint;
			}
		}
	}
}

// MAIN MENU
#main-menu {
	background: $main-menu-bg;
	display: none;

	@media only screen and (min-width: $topbar-breakpoint) {
		display: block;
	}

	.main-bar-section > ul > li.divider:first-child {
		display: none;
	}
}

.main-bar {
	@extend .top-bar;
	background: $main-menu-bg;
}

.main-bar-section {
	@extend .top-bar-section;

	ul {
		background: none;
	}

	li {

		&.has-dropdown ul.dropdown {
			background: $main-menu-bg;
		}

		&.active {

			a:not(.button) {
				background: $medium-tint;

				&:hover {
					background: $light-tint;
				}
			}

			> ul li a:not(.button) {
				background: none;

				&:hover {
					background: $light-tint;
				}
			}
		}

		a:not(.button) {
			background: none;

			&:hover {
				background: $light-tint;
			}
		}
	}
}

// WIDGETS

.widgets {
	list-style-type: none;

	.widget {
		margin-bottom: 20px;

		ul {
			list-style-type: square;
		}
	}

	.widgettitle {
		color: $widgettitle-color;
	}
}

// FOOTER

#footer-area {
	background: $footer-area-bg;
	color: $footer-area-color;

	.widget {
		margin: $column-gutter/2 0;

		@media only screen and(max-width:479px) {
			width: 100%;
		}
	}

	.widgettitle {
		color: $footer-widgettitle-color;
	}
}

#footer-menu {
	background: $footer-menu-bg;
}

.footer-bar-section {

	ul {
		list-style-type: none;
		margin: 0;

		li {
			float: left;

			&.active {
				font-weight: bold;
			}

			a {
				padding: 7px 15px;
				font-size: emCalc(14px);
				display: inline-block;
				color: $footer-menu-color;
			}
		}
	}
}

// CREDITS

#credits {
	background: $credits-bg;
	font-size: emCalc(12px);
	line-height: emCalc(50px);
}

#copyright, #powered-by {
	@include grid-column(12);

	@media only screen and(min-width:$tiny-screen) {
		@include grid-column(6);
	}
}

#powered-by {
	text-align: right;
	display: none;

	@media only screen and(min-width:$tiny-screen) {
		display: block;
	}
}

// ORBIT SLIDER

#orbit-slider {

	&.no-buttons {

		.orbit-prev, .orbit-next {
			display: none;
		}
	}

	&.no-timer {

		.orbit-timer {
			display: none;
		}
	}

	&.no-numbers {

		.orbit-slide-number {
			display: none;
		}
	}

	.orbit-bullets {

		li {
			background: $orbit-bullets-bg;
			border: none;
			@include border-radius(50%);
			height: 14px;
			width: 14px;

			&.active {
				background: $orbit-bullets-active-bg;
			}
		}
	}

	.orbit-caption {
		font-size: 1em;

		h4 {
			margin: 0;
		}

		p {
			margin: 5px 0 0;
		}
	}

	// Posts Slider
	&:not(.slides) {

		@media only screen and(min-width: $small-screen) {
				
			.slide {
				padding: 0 emCalc(80px);
			}

			.orbit-excerpt {
				padding: 0 0 0 emCalc(30px);
			}
		
			.orbit-slide-number {
				left: 6.5em;
			}

			.orbit-timer {
				right: 6em;
			}
		}
	}
}

// GALLERY

.gallery {

	.clearing-assembled {

		.clearing-container {

			.visible-img {
				margin-top: 20px;

				img {
					@include transition-duration(500ms);
				}
			}

			.carousel{
				padding: 15px 20px;
				margin-top: 15px;
				background: rgba(black, .5);
				@include box-shadow(inset 0 0 5px black, 0 0 0 1px rgba(white, .05));

				li {
					margin: 0 5px;
					@include transition-duration(500ms);
					@include transition-property(opacity);
					border: 4px solid black;
					@include box-shadow(inset 0 0 3px black);
					width: 180px;

					&.visible {
						border-color: rgba(white, .2);
					}

					img {
						width: 100%;
					}
				}

				.caption {
					display: none;
				}
			}
		}
	}

	li {
		position: relative;

		a {
			max-width: 100%;

			&:hover + .caption {
				opacity: 1;
			}
		}
	}

	.attachment-thumbnail {
		width: 100%;
		max-width: 100%;
		display: list-item;
	}

	.caption {
		position: absolute;
		opacity: 0;
		background: $darker-tint;
		color: #fff;
		bottom: 19px;
		left: 14px;
		min-height: 24px;
		padding: 5px 10px;
		right: 14px;
		cursor: default;
		@include transition-duration(500ms);
		@include transition-property(opacity);

		&:hover {
			opacity: 1;
		}
	}
}

// LOOP

.excerpt {

	.featured.th {
		margin-right: 20px;
		float: left;
	}
}

// ELEMENTS

button, .button {
	border-color: $dark-tint;
}

.th img {
	display: block;
}

.chromeframe {
	@include alert(#FFAE1A);
	margin-bottom: 0;
	text-align: center;

	.close {
		margin-left: 15px;
	}

	a {
		color: #CD5108;
	}
}

// Comments
input[type="submit"] {
	@include button-base;
	@include button-size;
	@include button-style($dark-tint);
	@include single-transition;
	@include inset-shadow($light-tint);
}

.commentlist {
	list-style-type: none;
	font-size: 1em;

	.children {
		list-style-type: none;
		margin-left: 5em;

		.comment-author {
			width: 34px;
		}
	}

	#respond {
		margin-left: 4.5em;
	}
}

.comment-content {
	margin-left: 4.5em;

	.comment-edit-link {
		@include label;
		@include border-radius(5px);
	}

	p {
		margin-top: 0.5em;
		color: $darker-tint;
	}

	cite.fn {
		font-style: normal;
		font-weight: bold;
	}
}

.reply {
	overflow: hidden;
		
	.comment-reply-link {
		@include button-base;
		@include button-size($button-sml);
		@include button-style($secondary-color);
		@include single-transition;
		@include inset-shadow($light-tint);
		float: right;
	}
}

#cancel-comment-reply-link {
		@include label;
		@include border-radius(5px);
		background: #DB2020;
}